<%= form_with url: session_path do |form| %>
  <div class='form__field'>
    <%= form.label :email %>
    <div class='input'>
      <%= form.email_field :email, value: params[:email], autofocus: true %>
    </div>
  </div>

  <div class='form__field'>
    <%= form.label :password %>
    <div class='input'>
      <%= form.password_field :password %>
    </div>
  </div>

  <div class='form__field form__field--submit'>
    <%= form.submit t('label.login'), class: 'button button--primary button--full-width' %>
  </div>
<% end %>
