<%= form_with url: session_path do |form| %>
  <div class='form__field'>
    <%= form.label :email %>
    <%= form.email_field :email, value: params[:email], autofocus: true %>
  </div>

  <div class='form__field'>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class='form__field form__field--submit'>
    <%= form.submit t('label.login'), class: 'button button--primary' %>
  </div>
<% end %>
