<%= form_with url: session_path do |form| %>
  <div class='c-form__field'>
    <%= form.label :email %>
    <%= form.email_field :email, value: params[:email], autofocus: true, class: 'c-input' %>
  </div>

  <div class='c-form__field'>
    <%= form.label :password %>
    <%= form.password_field :password, class: 'c-input' %>
  </div>

  <div class='c-form__field c-form__field--submit'>
    <%= form.submit t('label.login'), class: 'c-button c-button--primary c-button--full-width' %>
  </div>
<% end %>
