<div class='display__full-page-center'>
  <div class='form form--global'>
    <div class='display__text-center'>
      <span class='logo logo--large'></span>
    </div>
    <%= form_for :session, url: login_path do |form| %>
      <div class='form__field'>
        <%= form.label :email %>
        <%= form.text_field :email, type: 'email' %>
      </div>

      <div class='form__field'>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class='form__field form__field--submit'>
        <%= form.submit t('label.login'), class: 'button button--primary' %>
      </div>
    <% end %>
  </div>
</div>
