<% content_for :title do %>
  <%= t('label.add_to_playlist') %>
<% end %>

<% if @playlists.present? %>
  <%= form_tag nil, 'data-turbo-frame': '_top' do %>
    <%= hidden_field_tag :song_id, params[:song_id] %>
    <%= turbo_frame_tag "turbo-dialog-playlists-page-#{@pagy.page}", class: 'c-list', data: { action: 'click->dialog#hide' }, target: '_top' do %>
      <%= render partial: 'dialog/playlists/playlist', collection: @playlists, cached: true %>

      <% if @pagy.next %>
        <%= turbo_frame_tag "turbo-dialog-playlists-page-#{@pagy.next}", src: pagy_url_for(@pagy, @pagy.next), loading: 'lazy', class: 'u-my-small', data: { controller: 'element', action: 'turbo:frame-render->element#replaceWithChildren' }  do %>
          <div class='o-flex o-flex--justify-center'>
            <%= loader_tag %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= empty_alert_tag %>
<% end %>
