<% if @songs.present? %>
  <div class='u-mt-large'>
    <%= button_to t('label.play_top_songs'), play_artist_path(@artist), form_class: 'u-display-inline-block', class: 'c-button c-button--primary', form: { 'data-turbo-frame' => 'turbo-playlist' } %>
  </div>
  <ul class='c-list' data-action='turbo:submit-end->playlist-songs#submitEndHandle turbo:submit-start->playlist-songs#submitStartHandle'>
    <% @songs.each do |song| %>
      <li class='c-list__item' data-playlist-songs-target='item' data-song-id='<%= song.id %>' data-test-id='album_song'>
        <div class='o-flex o-flex--justify-between o-flex--align-center'>
          <%= button_to current_playlist_songs_path(song_id: song.id), class: 'u-w-100 o-flex o-flex--justify-between o-flex--align-center', form_class: 'o-flex__item--grow-1', form: { 'data-submit-start-action' => 'check_before_playing', 'data-submit-end-action' => 'play', 'data-turbo-frame' => 'turbo-playlist' } do  %>
            <div>
              <h4 class='u-mb-tiny u-text-weight-normal' data-test-id='album_song_name'><%= song.name %></h4>
            </div>
            <div class='u-text-monospace u-mr-narrow'><%= format_duration(song.duration) %></div>
          <% end %>

          <%= link_to dialog_playlists_path(song_id: song.id, referer_url: current_url), data: { turbo_frame: ('turbo-dialog' unless turbo_native?), test_id: 'album_song_add_playlist' } do %>
            <%= icon_tag 'playlist-add', size: 'small', title: t('label.add_to_playlist') %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
