<% page_title_tag @artist.title %>

<div class='o-container o-container--wide'>
  <% cache @artist do %>
    <div class='o-grid o-grid--shelf u-pb-wide'>
      <div class='o-grid__item c-card u-mb-medium'>
        <%= image_tag image_url_for(@artist), class: 'u-image-fluid c-card__image', data: { test_id: 'artist_image' } %>
      </div>
      <div class='o-grid__item'>
        <h2 class='u-mb-narrow'><%= @artist.title %></h2>
        <p>
          <span><%= @artist.all_albums.size %> <%= t('label.albums') %></span>
          <span>,</span>
          <span><%= @artist.songs.size %> <%= t('label.songs')%></span>
        </p>
        <% if is_admin? %>
          <%= link_to t('label.edit'), edit_artist_path(@artist), data: { turbo_frame: 'turbo-dialog' }, class: 'c-button c-button--secondary u-mt-large' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render partial: 'artists/albums', locals: { title: t('label.albums'), albums: @albums } %>
  <%= render partial: 'artists/albums', locals: { title: t('label.appears_on'), albums: @appears_on_albums } %>
</div>
