<% if [@albums, @artists, @songs].any?(&:present?) %>
  <h1 class='u-mb-wide'><%= t('text.search_results', query: params[:query]) %></h1>

  <% if @albums.present? %>
    <div class='o-flex o-flex--justify-between o-flex--align-center u-mb-medium'>
      <h2><%= t('label.albums') %></h2>

      <% if @albums_pagy.next %>
        <%= link_to t('text.see_all'), search_albums_path(query: params[:query]), class: 'is-active' %>
      <% end %>
    </div>
    <%= shelf_grid_tag class: 'u-mb-large' do %>
      <%= render partial: 'albums/album', collection: @albums, cached: true %>
    <% end %>
  <% end %>

  <% if @artists.present? %>
    <div class='o-flex o-flex--justify-between o-flex--align-center u-mb-medium'>
      <h2><%= t('label.artists') %></h2>

      <% if @albums_pagy.next %>
        <%= link_to t('text.see_all'), search_artists_path(query: params[:query]), class: 'is-active' %>
      <% end %>
    </div>
    <%= shelf_grid_tag class: 'u-mb-large' do %>
      <%= render partial: 'artists/artist', collection: @artists, cached: true %>
    <% end %>
  <% end %>

  <% if @songs.present? %>
    <div class='o-flex o-flex--justify-between o-flex--align-center u-mb-medium'>
      <h2><%= t('label.songs') %></h2>

      <% if @albums_pagy.next %>
        <%= link_to t('text.see_all'), search_songs_path(query: params[:query]), class: 'is-active' %>
      <% end %>
    </div>
    <%= render partial: 'songs/table', locals: { songs: @songs } %>
  <% end %>
<% else %>
  <h1 class='u-mb-wide'><%= t('text.no_search_results', query: params[:query]) %></h1>
<% end %>
