<% cache @users do %>
  <div class='o-container o-container--extra-narrow'>
    <div class='o-flex o-flex--justify-between o-flex--align-center'>
      <h1><%= t('text.manage_users') %></h1>
      <%= link_to t('text.add_user'), new_user_path, class: 'c-button c-button--primary' %>
    </div>
    <hr />
    <div class='u-position-relative'>
      <% if @users.present? %>
        <ul class='c-list c-list--border-none'>
          <% @users.each do |user| %>
            <li class='c-list__item o-flex o-flex--justify-between o-flex--align-center' data-user-id='<%= user.id %>'>
              <%= link_to edit_user_path(user), class: 'o-flex o-flex--align-center' do %>
                <span class='u-mr-tiny'><%= avatar_tag user %></span>
                <%= user.email %>
              <% end %>
              <%= link_to user_path(user), method: :delete, remote: true do %>
                <%= icon_tag 'delete', size: 'small', title: t('label.delete') %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= empty_alert_tag %>
      <% end %>
    </div>
  </div>
<% end %>
