<%= render 'shared/form_global' do %>
  <% if @user.errors.any? %>
    <% flash.now[:error] = @user.errors.full_messages.join(' ') %>
  <% end %>

  <%= form_for @user, url: '/sign_up' do |form| %>
    <div class='form__field'>
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class='form__field'>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class='form__field form__field--submit'>
      <%= form.submit class: 'button button--primary' %>
    </div>
  <% end %>
<% end %>
