<div id='js-mini-player' class='player player--mini' data-controller='mini-player' data-turbolinks-permanent>
  <div data-action='click->mini-player#expand' class='player__info display__align-center text-truncate'>
    <span><%= icon_tag 'expand-less', size: 'large', title: t('text.expand_player') %></span>
    <span data-target='mini-player.songName' class='text-truncate'></span>
    <span data-target='mini-player.loader' class='hidden'><%= loader_tag(size: 'small') %></span>
  </div>
  <div class='player__control display__space-between'>
    <span data-action='click->mini-player#play' class='player__control__main pointer-cursor' data-target='mini-player.playButton'><%= icon_tag 'play', size: 'large', title: t('text.play_song') %></span>
    <span data-action='click->mini-player#pause' class='player__control__main pointer-cursor hidden' data-target='mini-player.pauseButton'><%= icon_tag 'pause', size: 'large', title: t('text.pause_song') %></span>
    <span data-action='click->mini-player#next' class='pointer-cursor'><%= icon_tag 'fast-forward', size: 'large', title: t('text.next_song') %></span>
  </div>
</div>
