<nav class='layout__nav-bar'>
  <ul class='tab'>
    <li class='tab__item <%= 'tab__item--active' if is_active?(controller: 'albums') %>'>
      <%= link_to t('label.albums'), albums_path %>
    </li>
    <li class='tab__item <%= 'tab__item--active' if is_active?(controller: 'artists') %>'>
      <%= link_to t('label.artists'), artists_path %>
    </li>
    <li class='tab__item <%= 'tab__item--active' if is_active?(controller: 'songs') %>'>
      <%= link_to t('label.songs'), songs_path %>
    </li>
    <li class='tab__item <%= 'tab__item--active' if is_active?(controller: 'settings') %>'>
      <%= link_to t('label.settings'), setting_path %>
    </li>
  </ul>
</nav>
