<nav class='o-grid__item u-mt-medium' span@extra-narrow='row' span@medium='2-6' span='3-5'>
  <ul class='c-tab'>
    <li class='c-tab__item <%= 'is-active' if is_active?(controller: 'home') %>'>
      <%= link_to t('label.home'), root_path %>
    </li>
    <li class='c-tab__item <%= 'is-active' if is_active?(controller: 'albums') %>'>
      <%= link_to t('label.albums'), albums_path %>
    </li>
    <li class='c-tab__item <%= 'is-active' if is_active?(controller: 'artists') %>'>
      <%= link_to t('label.artists'), artists_path %>
    </li>
    <li class='c-tab__item <%= 'is-active' if is_active?(controller: 'songs') %>'>
      <%= link_to t('label.songs'), songs_path %>
    </li>
  </ul>
</nav>
