<% default_order = options[:default]%>
<details class='c-dropdown'>
  <summary>
    <%= icon_tag 'sort', title: t('label.sort') %>
  </summary>
  <div class='c-dropdown__list'>
    <% options[:values].each do |order_value| %>
      <%= link_to url_for(controller: params[:controller], action: :index, order: order_value), class: 'c-dropdown__item', data: { turbo_action: ('replace' if turbo_native?) } do %>
        <span class='o-flex o-flex--justify-between o-flex--align-center'>
          <%= t("label.#{order_value}") %>
          <% if params[:order] == order_value || (params[:order].blank? && order_value == default_order[:value]) %>
            <%= icon_tag('check', size: 'small', class: 'u-ml-narrow') %>
          <% end %>
        </span>
      <% end %>
    <% end %>

    <hr />

    <% %w[asc desc].each do |order_direction| %>
      <%= link_to url_for(controller: params[:controller], action: :index, order: params[:order] || default_order[:value], order_direction: order_direction), class: 'c-dropdown__item', data: { turbo_action: ('replace' if turbo_native?) } do %>
        <span class='o-flex o-flex--justify-between o-flex--align-center'>
          <%= t("label.#{order_direction}") %>
          <% if params[:order_direction] == order_direction || (params[:order_direction].blank? && default_order[:direction] == order_direction)%>
            <%= icon_tag('check', size: 'small', class: 'u-ml-narrow') %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>
</details>
