<div class='player' data-controller='player'>
  <div data-target='player.header' class='player__header position-relative'>
    <div data-target='player.headerContent' class='player__header__content'>
      <div class='c-card c-card--horizontal u-p-medium'>
        <img data-target='player.image' class='c-card__image u-image-small' />
        <div class='c-card__body u-text-truncate'>
          <h1 class='c-card__body__title' data-target='player.songName'></h1>
          <p class='c-card__body__text' data-target='player.albumName'></p>
          <p class='c-card__body__text' data-target='player.artistName'></p>
          <div class='c-card__body__text monospace-font u-mt-narrow'>
            <span class='u-text-color-primary' data-target='player.songTimer'></span>
            <span class='u-mx-narrow'>/</span>
            <span data-target='player.songDuration'></span>
          </div>
        </div>
      </div>
      <div class='player__progress pointer-cursor'>
        <progress data-target='player.progress' data-action='click->player#seek' class='u-w-100' max='100'></progress>
      </div>
    </div>
    <div data-target='player.loader' class='c-overlay c-overlay--blur hidden'>
      <%= loader_tag %>
    </div>
  </div>
  <div class='player__control display__space-between'>
    <div class='player__control__minor pointer-cursor' data-action='click->player#nextMode'>
      <span data-target='player.modeButton'><%= icon_tag 'repeat', title: t('text.repeat_mode') %></span>
      <span data-target='player.modeButton'><%= icon_tag 'repeat-one', title: t('text.single_mode') %></span>
      <span data-target='player.modeButton'><%= icon_tag 'shuffle', title: t('text.shuffle_mode') %></span>
    </div>
    <div>
      <span class='pointer-cursor' data-action='click->player#previous'><%= icon_tag 'rewind', size: 'large', title: t('text.previous_song') %></span>
      <span data-action='click->player#play' class='player__control__main pointer-cursor' data-target='player.playButton'><%= icon_tag 'play', size: 'large', title: t('text.play_song') %></span>
      <span data-action='click->player#pause' class='player__control__main pointer-cursor hidden' data-target='player.pauseButton'><%= icon_tag 'pause', size: 'large', title: t('text.pause_song') %></span>
      <span data-action='click->player#next' class='pointer-cursor'><%= icon_tag 'fast-forward', size: 'large', title: t('text.next_song') %></span>
    </div>
    <div data-target='player.favoriteButton' data-action='click->player#toggleFavorite' class='player__control__minor pointer-cursor'>
      <%= icon_tag 'heart', title: t('text.toggle_favorite') %>
    </div>
  </div>
  <div class='player__footer u-text-align-center u-display-none u-display-block@extra-small' data-action='click->player#collapse'>
    <%= icon_tag 'expand-more', size: 'large', title: t('text.collapse_player') %>
  </div>
</div>
