<div class='c-player c-backdrop' data-controller='player media-session'>
  <div class='c-player__header o-flex o-flex--align-center o-flex--justify-between'>
    <div class="o-flex o-flex--align-center">
      <div class="c-player__header__image">
        <div data-player-target='loader' class='c-overlay c-overlay--blur u-display-none'>
          <%= loader_tag %>
        </div>
        <img src="/images/default_album_small.png" data-player-target='image'>
      </div>
      <div class='c-player__header__content'>
        <h1 class='o-marquee u-mb-2 u-text-size-3'>
          <span class='o-marquee__content' data-player-target='songName'><%= t("label.not_playing") %></span>
        </h1>
        <p class='u-text-truncate u-mb-1'>
          <a data-player-target='albumLink'></a>
        </p>
        <p class='u-text-truncate'>
          <a data-player-target='artistLink'></a>
        </p>
      </div>
    </div>

    <div data-action='turbo:submit-end->player#toggleFavorite'>
      <%= button_to "#", class: "c-button c-button--icon", disabled: true, form: { "data-player-target" => "favoriteButton" } do %>
        <%= icon_tag "heart", size: "small", title: t("label.toggle_favorite") %>
      <% end %>
      <%= button_to "#", class: "c-button c-button--icon", method: :delete, form_class: "u-display-none", form: { "data-player-target" => "unFavoriteButton" } do %>
        <%= icon_tag "heart", size: "small", emphasis: true, title: t("label.toggle_favorite") %>
      <% end %>
    </div>
  </div>
  <div class='c-player__control'>
    <div class='c-player__progress'>
      <progress data-player-target='progress' data-action='click->player#seek' class='u-w-100' max='100'></progress>
    </div>
    <div class='u-text-monospace u-text-color-primary u-mt-2 o-flex o-flex--justify-between'>
      <small data-player-target='songTimer'>00:00</small>
      <small data-player-target='songDuration'>--:--</small>
    </div>

    <div class="c-player__control__main o-flex o-flex--justify-between o-flex--align-center">
      <button class='c-button c-button--icon u-mr-1' data-action='click->player#nextMode'>
        <%= icon_tag "repeat", size: "small", title: t("label.no_repeat_mode"), data: { "player-target" => "modeButton" } %>
        <%= icon_tag "repeat", size: "small", active: true, title: t("label.repeat_mode"), data: { "player-target" => "modeButton" } %>
        <%= icon_tag "repeat-one", size: "small", active: true, title: t("label.single_mode"), data: { "player-target" => "modeButton" } %>
        <%= icon_tag "shuffle", size: "small", active: true, title: t("label.shuffle_mode"), data: { "player-target" => "modeButton" } %>
      </button>
      <div>
        <button class='c-button c-button--icon' data-action='click->player#previous'>
          <%= icon_tag "rewind", size: "large", title: t("label.previous_song") %>
        </button>
        <button class='u-mx-4 c-button c-button--icon' data-action='click->player#play' data-player-target='playButton'>
          <%= icon_tag "play", size: "large", title: t("label.play_song") %>
        </button>
        <button class='u-mx-4 c-button c-button--icon u-display-none' data-action='click->player#pause' data-player-target='pauseButton'>
          <%= icon_tag "pause", size: "large", title: t("label.pause_song") %>
        </button>
        <button class='c-button c-button--icon' data-action='click->player#next'>
          <%= icon_tag "fast-forward", size: "large", title: t("label.next_song") %>
        </button>
      </div>
      <button class='c-button c-button--icon'>
        <%= icon_tag "lyrics", size: "small", title: t("label.lyrics") %>
      </button>
    </div>
    <div class="c-player__control__secondary o-flex">
      <div class="o-flex o-flex--align-center o-flex__item--grow-1">
        <button class='c-button c-button--icon' data-action='click->player#mute'>
          <%= icon_tag "volume-down", size: "small", title: t("label.mute") %>
        </button>
        <input class="c-player__volume" min="0" max="1" type="range" step="0.01" autocomplete="off" data-player-target="volume" data-action="player#volume">
        <button class='c-button c-button--icon' data-action='click->player#maxVolume'>
          <%= icon_tag "volume-up", size: "small", title: t("label.max_volume") %>
        </button>
      </div>
    </div>
  </div>
  <div class='u-py-1 u-bg-primary u-text-align-center u-display-none u-display-block@extra-small' data-action='click->player#collapse'>
    <%= icon_tag "expand-more", size: "large", title: t("label.collapse_player") %>
  </div>
</div>
