<div class='c-nav'>
  <ul class='c-tab'>
    <li class='c-tab__item <%= 'is-active' if is_active?(path: current_playlist_songs_path) %>'>
      <%= link_to t('label.current'), current_playlist_songs_path %>
    </li>
    <li class='c-tab__item <%= 'is-active' if is_active?(controller: ['playlists', 'playlists/songs']) %>'>
      <%= link_to t('label.playlists'), playlists_path %>
    </li>
    <li class='c-tab__item <%= 'is-active' if is_active?(path: favorite_playlist_songs_path) %>'>
      <%= link_to t('label.favorites'), favorite_playlist_songs_path %>
    </li>
  </ul>
</div>
