<div class='layout__search-bar display__space-between'>
  <div class='avatar'>
    <!-- Placeholder for search-bar layout to keep search bar input center -->
  </div>
  <div class='input' data-controller='search' data-search-resource='<%= params[:controller] %>'>
    <div class='input__icon'>
      <%= icon_tag 'search', size: 'large' %>
    </div>
    <input id='js-search-input' data-target='search.input' data-action='keydown->search#query' value='<%= params[:query] %>' />
    <div class='input__icon input__icon--right hidden' data-target='search.loader'>
      <%= loader_tag size: 'small' %>
    </div>
  </div>
  <div data-controller='dropdown' class='dropdown'>
    <span data-action='click->dropdown#show'><%= avatar_tag Current.user %></span>
    <div data-target='dropdown.list' class='hidden dropdown__list'>
      <%= link_to t('label.manage_users'), users_path, class: 'dropdown__item' if is_admin? %>
      <%= link_to t('label.update_profile'), edit_user_path(Current.user), class: 'dropdown__item' %>
      <%= link_to t('label.logout'), session_path, method: :delete, class: 'dropdown__item' %>
    </div>
  </div>
</div>
