<div class='c-input-group o-grid__item' data-controller='search' span@medium='2-6' span='3-5'>
  <div class='c-input-group__icon'>
    <%= icon_tag 'search', size: 'large' %>
  </div>
  <input id='js-search-input' class='c-input' data-search-target='input' data-action='keydown->search#query' data-test-id='search_input' value='<%= params[:query] %>' />
  <div class='c-input-group__icon u-display-none' data-search-target='loader'>
    <%= loader_tag size: 'small' %>
  </div>
</div>
<div class='o-grid__item o-grid__item--justify-end' span@medium='7-7' span='6-7'>
  <div data-controller='dropdown' class='c-dropdown' data-test-id='search_bar_menu'>
    <span data-action='click->dropdown#show'><%= avatar_tag Current.user %></span>
    <div data-dropdown-target='list' class='u-display-none c-dropdown__list'>
      <%= link_to t('label.manage_users'), users_path, class: 'c-dropdown__item' if is_admin? %>
      <%= link_to t('label.update_profile'), edit_user_path(Current.user), class: 'c-dropdown__item' %>
      <%= button_to t('label.logout'), session_path, method: :delete, form_class: 'c-dropdown__item' %>
    </div>
  </div>
</div>
