<% if @song_collections.present? %>
  <div data-controller='infinite-scroll song-collection' data-infinite-scroll-container='.dialog__content' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
    <ul id='js-dialog-song-collections' data-action='click->song-collection#add' data-song-id='<%= params[:id] %>' class='list'>
      <%= render 'song_collections' %>
    </ul>
    <div data-target='infinite-scroll.trigger' class='display__justify-align-center'>
      <% if @pagy.next %>
        <%= loader_tag %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= empty_alert_tag %>
<% end %>
