<tr data-target='playlist-songs.item' data-song-id='<%= song.id %>' data-playlist-songs-action='play'>
  <td class='u-text-truncate'><%= song.name %></td>
  <td class='u-text-truncate u-display-none@medium'><%= song.artist.title %></td>
  <td class='u-text-truncate u-display-none@medium'><%= song.album.title %></td>
  <td class='u-text-truncate u-display-none@small'><%= format_duration(song.length) %></td>
  <td>
    <span data-playlist-songs-action='showPlaylistsDialog'>
      <%= icon_tag 'playlist-add', size: 'small', title: t('text.add_to_playlist') %>
    </span>
  </td>
</tr>
