<tr data-target='playlist-songs.item' data-song-id='<%= song.id %>' data-playlist-songs-action='play'>
  <td class='u-text-truncate'><%= song.name %></td>
  <td class='u-text-truncate u-display-none@medium'><%= song.artist.title %></td>
  <td class='u-text-truncate u-display-none@medium'><%= song.album.title %></td>
  <td class='u-text-truncate u-display-none@small'><%= format_duration(song.length) %></td>
  <td data-playlist-songs-action='none'>
    <%= link_to dialog_playlists_path(song_id: song.id), remote: true do %>
      <%= icon_tag 'playlist-add', size: 'small', title: t('text.add_to_playlist') %>
    <% end %>
  </td>
</tr>
