<div role='row'>
  <div role='cell' data-playlist-songs-target='item' data-song-id='<%= song.id %>'>
    <%= button_to current_playlist_songs_path(song_id: song.id), class: 'c-button c-button--link', data: { test_id: 'song_item'}, form: { 'data-submit-start-action' => 'check_before_playing', 'data-submit-end-action' => 'play', 'data-turbo-frame' => 'turbo-playlist' } do %>
      <span data-test-id='song_name'><%= song.name %></span>
    <% end %>
  </div>
  <div role='cell' class='u-display-none@medium'>
    <%= link_to song.artist.title, artist_path(song.artist) %>
  </div>
  <div role='cell' class='u-display-none@medium'>
    <%= link_to song.album.title, album_path(song.album) %>
  </div>
  <div role='cell' class='u-display-none@small'><%= format_duration(song.duration) %></div>
  <div role='cell'>
    <%= link_to dialog_playlists_path(song_id: song.id, referer_url: current_url), data: { test_id: 'song_add_playlist', turbo_frame: ('turbo-dialog' unless turbo_native?) } do %>
      <%= icon_tag 'playlist-add', size: 'small', title: t('label.add_to_playlist') %>
    <% end %>
  </div>
</div>
