<% if @songs.empty? %>
  <div class='u-mt-wide'>
    <%= empty_alert_tag has_icon: true, has_overlay: false %>
  </div>
<% else %>
  <div class='o-container o-container--small' data-controller='playlist-songs infinite-scroll' data-infinite-scroll-next-url-value='<%= pagy_next_url(@pagy) %>'>
    <table class='c-table'>
      <thead>
        <tr>
          <th><%= t('label.name') %></th>
          <th class='u-display-none@medium'><%= t('label.artist') %></th>
          <th class='u-display-none@medium'><%= t('label.album') %></th>
          <th class='u-w-15 u-display-none@small'><%= t('label.duration') %></th>
          <th class='u-w-15 u-w-25@narrow'><%= t('label.actions') %></th>
        </tr>
      </thead>
      <tbody id='js-songs-content' data-action='click->playlist-songs#actionHandler'>
        <%= render partial: 'song', collection: @songs, cached: true %>
      </tbody>
    </table>
    <div data-infinite-scroll-target='trigger' class='o-flex o-flex--justify-center u-my-small'>
      <% if @pagy.next %>
        <%= loader_tag %>
      <% end %>
    </div>
  </div>
<% end %>
