<ul id='js-playlist' class='playlist display__full-height' data-controller='playlist' data-playlist-content=<%= @playlist %>>
  <% if @songs.present? %>
    <% @songs.each_with_index do |song, index| %>
      <li class='playlist__item display__space-between'
        data-action='click->playlist#play'
        data-target='playlist.item'
        data-playlist-index=<%= index %>>
        <div class='playlist__item__header display__align-center'>
          <span data-controller='icon' data-icon-type='play-circle' class='icon'></span>
          <div class='playlist__item__info'>
            <span class='playlist__item__info--name'><%= song.name %></span>
            <span class='playlist__item__info--artist'><%= song.artist.name %></span>
          </div>
        </div>
        <div class='playlist__item__footer'>
          <span><%= song.duration %></span>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<div><%= url_for(Album.first.image) %></div>
