<div data-controller='infinite-scroll' data-infinite-scroll-container='.layout__main' data-infinite-scroll-next-url='<%= pagy_next_url(pagy) %>'>
  <div class='display__space-between display__flex-wrap' id='js-albums-content'>
    <% albums.each do |album| %>
      <div class='card'>
        <%= album_image_tag album, class: 'card__image' %>
        <div class='card__body'>
          <h2 class='card__title text-truncate'><%= album.name %></h2>
          <p class='card__text text-truncate'><%= album.artist.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div data-target='infinite-scroll.trigger'>
    <% if pagy.next %>
      <%= spinner_tag %>
    <% end %>
  </div>
</div>
