<div class='o-grid__item c-card u-mb-4'>
  <div class='c-card__image'>
    <%= link_to album_path(album) do %>
      <%= cover_image_tag album, class: "u-image-fluid" %>
    <% end %>
    <div class='c-card__image__actions'>
      <%= button_to(
            current_playlist_album_path(album, should_play: true),
            method: :put,
            class: "c-button c-button--circle c-button--primary",
            form: {
              data: {
                "turbo-frame" => "turbo-playlist"
              }
            }
          ) do %>
        <%= icon_tag "play", size: "medium", title: t("button.play") %>
      <% end %>
    </div>
  </div>
  <div class='c-card__body'>
    <%= link_to album.name, album_path(album), class: "c-card__body__text u-text-weight-bold u-text-line-clamp-2" %>
    <%= link_to album.artist.name, artist_path(album.artist), class: "c-card__body__text u-text-line-clamp-2" %>
  </div>
</div>
