<% if filter_sort_presenter.has_filter? %>
  <%= link_to albums_path, class: "c-button c-button--outline c-button--small u-mr-small", data: {"turbo-action" => ("replace" if native_app?)} do %>
    <span class='o-flex o-flex--align-center'>
      <%= icon_tag "close" %>
      <%= t("label.clear_filters") %>
    </span>
  <% end %>
<% end %>

<%= render DropdownComponent.new(
  src: albums_filter_genres_path(**filter_sort_presenter.params),
  frame_id: "turbo-genre-filter",
  class: "u-mr-small"
) do |component| %>
  <% component.with_toggle do %>
    <span class="c-button c-button--outline c-button--small">
      <span class='o-flex o-flex--align-center'>
        <%= t("field.genre") %>
        <%= icon_tag "expand-more" %>
      </span>
    </span>
  <% end %>
<% end %>

<%= render DropdownComponent.new(
  src: albums_filter_years_path(**filter_sort_presenter.params),
  frame_id: "turbo-year-filter",
  class: "u-mr-small"
) do |component| %>
  <% component.with_toggle do %>
    <span class="c-button c-button--outline c-button--small">
      <span class='o-flex o-flex--align-center'>
        <%= t("field.year") %>
        <%= icon_tag "expand-more" %>
      </span>
    </span>
  <% end %>
<% end %>
