<% if filter_sort_params[:filter].present? %>
  <%= link_to albums_path, class: "c-button c-button--outline c-button--small u-mr-small", data: {turbo_action: ("replace" if native_app?)} do %>
    <span class='o-flex o-flex--align-center'>
      <%= icon_tag "close" %>
      <%= t("label.clear_filters") %>
    </span>
  <% end %>
<% end %>

<details class='c-dropdown u-mr-small'>
  <summary>
    <div role='button' class='c-button c-button--outline c-button--small'>
      <span class='o-flex o-flex--align-center'>
        <%= t("label.genre") %>
        <%= icon_tag "expand-more" %>
      </span>
    </div>
  </summary>
  <div class='c-dropdown__list c-dropdown__list--right'>
    <%= turbo_frame_tag "turbo-genre-filter", src: albums_filter_genres_path(**filter_sort_params), loading: "lazy" do %>
      <div class='o-flex o-flex--justify-center u-p-medium'>
        <%= loader_tag size: "small" %>
      </div>
    <% end %>
  </div>
</details>

<details class='c-dropdown u-mr-small'>
  <summary>
    <div role='button' class='c-button c-button--outline c-button--small'>
      <span class='o-flex o-flex--align-center'>
        <%= t("label.year") %>
        <%= icon_tag "expand-more" %>
      </span>
    </div>
  </summary>
  <div class='c-dropdown__list'>
    <%= turbo_frame_tag "turbo-year-filter", src: albums_filter_years_path(**filter_sort_params), loading: "lazy" do %>
      <div class='o-flex o-flex--justify-center u-p-medium'>
        <%= loader_tag size: "small" %>
      </div>
    <% end %>
  </div>
</details>
