<% page_title_tag t('label.albums'), native: true %>

<% if @albums.empty? %>
  <div class='u-mt-wide'>
    <%= empty_alert_tag has_icon: true, has_overlay: false %>
  </div>
<% else %>
  <div class='o-container o-container--large'>
    <div class='o-flex o-flex--align-center u-mb-large'>
      <% unless turbo_native? %>
        <h1 class='u-mb-0'><%= t('label.albums') %></h1>
      <% end %>
      <div class='u-ml-auto o-flex o-flex--align-center'>
        <%= render partial: 'albums/filters' %>
        <%= render partial: 'shared/order_select', locals: {options: @order_options} %>
      </div>
    </div>
    <%= turbo_frame_tag "turbo-albums-page-#{@pagy.page}", class: 'o-grid o-grid--shelf', target: '_top' do %>
      <%= render partial: 'albums/album', collection: @albums, cached: true %>

      <% if @pagy.next %>
        <%= turbo_frame_tag "turbo-albums-page-#{@pagy.next}", src: pagy_url_for(@pagy, @pagy.next), loading: 'lazy', class: 'o-grid__item o-grid__item--row u-my-small', data: { controller: 'element', action: 'turbo:frame-render->element#replaceWithChildren' }  do %>
          <div class='o-flex o-flex--justify-center'>
            <%= loader_tag %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
