<% if @albums.empty? %>
  <div class='u-mt-wide'>
    <%= empty_alert_tag has_icon: true, has_overlay: false %>
  </div>
<% else %>
  <div data-controller='infinite-scroll' data-infinite-scroll-url-value='<%= albums_path %>' data-infinite-scroll-total-pages-value='<%= @pagy.pages %>'>
    <%= shelf_grid_tag class: 'o-container o-container--large', id: 'turbo-albums-content' do %>
      <%= render partial: 'albums/album', collection: @albums, cached: true %>
    <% end %>
    <div data-infinite-scroll-target='trigger' class='o-flex o-flex--justify-center u-my-small'>
      <% if @pagy.next %>
        <%= loader_tag %>
      <% end %>
    </div>
  </div>
<% end %>
