<% page_title_tag t('label.albums') %>

<% if @albums.empty? %>
  <div class='u-mt-wide'>
    <%= empty_alert_tag has_icon: true, has_overlay: false %>
  </div>
<% else %>
  <h1><%= t('label.albums') %></h1>
  <%= turbo_frame_tag "turbo-albums-page-#{@pagy.page}", class: 'o-grid o-grid--shelf o-container o-container--large', target: '_top' do %>
      <%= render partial: 'albums/album', collection: @albums, cached: true %>

      <% if @pagy.next %>
        <%= turbo_frame_tag "turbo-albums-page-#{@pagy.next}", src: pagy_url_for(@pagy, @pagy.next), loading: 'lazy', class: 'o-grid__item u-my-small', span: 'row', data: { controller: 'element', action: 'turbo:frame-render->element#replaceWithChildren' }  do %>
          <div class='o-flex o-flex--justify-center'>
            <%= loader_tag %>
          </div>
        <% end %>
      <% end %>
  <% end %>
<% end %>
