<div data-controller='playlist-songs' data-playlist-songs-playlist-id-value='<%= @playlist.id %>'>
  <div class='c-action-bar o-flex o-flex--justify-between o-flex--align-center' data-controller='playlist' data-playlist-id-value='<%= @playlist.id %>'>
    <div class='o-flex o-flex--align-center'>
      <%= link_to playlists_path do %>
        <%= icon_tag 'chevron-left', title: t('text.go_back') %>
      <% end %>
      <div class='u-ml-narrow'>
        <div class='u-mb-tiny'>
          <span data-playlist-target='name'><%= @playlist.name %></span>
          <input data-playlist-target='nameInput' data-action='blur->playlist#updateName keydown->playlist#updateNameOnEnter' class='u-display-none c-input' />
        </div>
        <p>
          <span id='<%= dom_id(@playlist, :songs_count) %>'><%= @playlist.songs.size %></span>
          <span> <%= t('label.tracks') %><span>
        </p>
      </div>
    </div>
    <div data-controller='dropdown' class='c-dropdown'>
      <span data-action='click->dropdown#show'><%= icon_tag 'more-vertical', title: t('label.more') %></span>
      <div data-dropdown-target='list' class='u-display-none c-dropdown__list'>
        <% unless @songs.blank? %>
          <%= button_to t('label.play_all'), play_playlist_songs_path(@playlist), form_class: 'c-dropdown__item' %>
          <%= button_to t('label.clear'), playlist_songs_path(@playlist, clear_all: true), method: :delete, form_class: 'c-dropdown__item' %>
        <% end %>
        <%= button_to t('label.delete'), playlist_path(@playlist), method: :delete, form_class: 'c-dropdown__item'  %>
        <a data-action='playlist#rename' class='c-dropdown__item'><%= t('label.rename') %></a>
      </div>
    </div>
  </div>
  <% if @playlist.present? %>
    <%= render partial: 'playlists/songs/list', locals: { playlist: @playlist, songs: @songs, pagy: @pagy } %>
  <% end %>
</div>
