<p><%= t('passwords.new.description') %></p>
<%= form_for :password, url: '/reset_password' do |form| %>
  <div class='form__field'>
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class='form__field form__field--submit'>
    <%= form.submit class: 'button button--primary' %>
  </div>
<% end %>
