<%= render 'shared/form_global' do %>
  <p><%= t('passwords.edit.description') %></p>
  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class='form__field'>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class='form__field form__field--submit'>
      <%= form.submit class: 'button button--primary' %>
    </div>
  <% end %>
<% end %>
