<div
  data-test-id='current_playlist'
  data-controller='current-playlist-songs'
  data-current-playlist-songs-should-play-all-value='<%= params[:should_play_all] || false %>'>
  <% if @songs.empty? %>
    <%= empty_alert_tag %>
  <% else %>
    <div class='c-action-bar o-flex o-flex--justify-between o-flex--align-center'>
      <p>
        <span id='<%= dom_id(@playlist, :songs_count) %>'><%= @playlist.songs.count %></span>
        <span><%= t("label.tracks") %></span>
      </p>
      <details class='c-dropdown' data-controller='dropdown' data-test-id='playlist_menu'>
        <summary class="c-button c-button--icon"><%= icon_tag "more-vertical", title: t("label.more") %></summary>
        <div class='c-dropdown__menu' data-dropdown-target="menu">
          <%= button_to t("button.clear"), current_playlist_songs_path, method: :delete, form_class: "c-dropdown__item" %>
        </div>
      </details>
    </div>
    <%= render partial: "current_playlist/songs/list", locals: {playlist: @playlist, songs: @songs} %>
  <% end %>
</div>
