<%= form_with model: SongCollection.new, class: 'form form--inline' do |form| %>
  <div class='input'>
    <%= form.text_field :name %>
  </div>
  <%= form.submit t('label.create'), class: 'button button--primary button--small' %>
<% end %>
<div data-controller='infinite-scroll' data-infinite-scroll-container='.playlist__content' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
  <ul id='js-song-collection-list' class='list'>
    <% if @song_collections.present? %>
      <%= render partial: 'song_collection', collection: @song_collections, cached: true %>
    <% end %>
  </ul>
  <div data-target='infinite-scroll.trigger' class='display__justify-align-center'>
    <% if @pagy.next %>
      <%= loader_tag %>
    <% end %>
  </div>
</div>
