<div class='playlist__item playlist__item--primary display__space-between'>
  <div class='display__align-center'>
    <div>
      <%= link_to song_collections_path, remote: true, data: { action: 'ajax:success->playlist-tab#hideSpinner' } do %>
        <%= icon_tag('chevron-left') %>
      <% end %>
    </div>
    <div class='playlist__item__detail'>
      <div class='playlist__item__detail__main'><%= @song_collection.name %></div>
      <div><%= t('text.tracks_count', { count: @songs.count }) %></div>
    </div>
  </div>
  <div><%= icon_tag('more-vertical') %></div>
</div>
<% if @songs.empty? %>
  <%= empty_alert_tag %>
<% else %>
  <%= render partial: 'playlist/list', locals: { songs: @songs, pagy: @pagy } %>
<% end %>
