<%= form_with model: Playlist.new, class: 'c-form o-flex o-flex--justify-between' do |form| %>
  <%= form.text_field :name, class: 'c-input u-mr-narrow' %>
  <%= form.submit t('label.create'), class: 'c-button c-button--primary c-button--small' %>
<% end %>
<div data-controller='infinite-scroll' data-infinite-scroll-next-url-value='<%= pagy_next_url(pagy) %>'>
  <ul id='js-playlist-list' class='c-list c-list--border-none'>
    <% if playlists.present? %>
      <%= render partial: 'playlists/playlist', collection: playlists, cached: true %>
    <% end %>
  </ul>
  <div data-infinite-scroll-target='trigger' class='o-flex o-flex--justify-center u-my-small'>
    <% if pagy.next %>
      <%= loader_tag %>
    <% end %>
  </div>
</div>
