<div class='o-container o-container--small'>
  <div class='o-flex o-flex--align-center o-flex--justify-between u-mb-large'>
    <h1 class='u-mb-0'><%= t('lable.playlists') %></h1>
    <%= link_to t('label.add'), new_playlist_path, data: { turbo_frame: 'turbo-dialog' }, class: 'c-button c-button--primary' %>
  </div>
  <div data-controller='infinite-scroll' data-infinite-scroll-url-value='<%= playlists_path %>' data-infinite-scroll-total-pages-value='<%= @pagy.pages %>'>
    <%= list_grid_tag id: 'turbo-playlist-list' do %>
      <% if @playlists.present? %>
        <%= render partial: 'playlists/playlist', collection: @playlists, cached: true %>
      <% end %>
    <% end %>
    <div data-infinite-scroll-target='trigger' class='o-flex o-flex--justify-center u-my-small'>
      <% if @pagy.next %>
        <%= loader_tag %>
      <% end %>
    </div>
  </div>
</div>
