<div data-controller='playlist' data-playlist-id='<%= @song_collection.id %>' data-playlist-play-path='<%= play_playlist_path(@song_collection) %>' class='display__full-height display__flex-vertical'>
  <div class='heading' data-controller='song-collection' data-song-collection-id='<%= @song_collection.id %>'>
    <div class='heading__header'>
      <%= link_to song_collections_path, remote: true, data: { show_loader: true } do %>
        <%= icon_tag 'chevron-left', title: t('text.go_back') %>
      <% end %>
    </div>
    <div class='heading__body'>
      <div class='heading__body__text'>
        <span data-target='song-collection.name'><%= @song_collection.name %></span>
        <div class='input'>
          <input data-target='song-collection.nameInput' data-action='blur->song-collection#updateName keydown->song-collection#updateNameOnEnter' class='hidden' />
        </div>
      </div>
      <div class='heading__body__text'>
        <span data-target='playlist.count'><%= @playlist.count %></span>
        <span> <%= t('label.tracks') %><span>
      </div>
    </div>
    <div class='heading__footer'>
      <div data-controller='dropdown' class='dropdown'>
        <span data-action='click->dropdown#show'><%= icon_tag 'more-vertical', title: t('label.more') %></span>
        <div data-target='dropdown.list' class='hidden dropdown__list'>
          <% unless @playlist.blank? %>
            <a class='dropdown__item' data-action='playlist#playAll'><%= t('label.play_all') %></a>
            <%= link_to t('label.clear'), playlist_path(@song_collection.id), method: :delete, remote: true, class: 'dropdown__item', data: { show_loader: true } %>
          <% end %>
          <%= link_to t('label.delete'), song_collection_path(@song_collection), method: :delete, remote: true, class: 'dropdown__item', data: { show_loader: true } %>
          <a data-action='song-collection#rename' class='dropdown__item'><%= t('label.rename') %></a>
        </div>
      </div>
    </div>
  </div>
  <div class='position-relative display__full-height'>
    <% if @playlist.blank? %>
      <%= empty_alert_tag %>
    <% else %>
      <%= render partial: 'playlist/list', locals: { songs: @songs, pagy: @pagy, next_url: pagy_next_url(@pagy) } %>
    <% end %>
  </div>
</div>
