<% if @playlist.empty? %>
  <%= empty_alert_tag %>
<% else %>
  <div data-controller='playlist' data-playlist-id='current'>
    <div class='playlist__item playlist__item--primary display__space-between'>
      <div class='display__align-center'>
        <div class='playlist__item__detail'>
          <div>
            <span data-target='playlist.count'><%= @playlist.count %></span>
            <span> <%= t('label.tracks') %></span>
          </div>
        </div>
      </div>
      <div data-controller='dropdown' class='dropdown'>
        <span data-action='click->dropdown#show'><%= icon_tag('more-vertical') %></span>
        <div data-target='dropdown.list' class='hidden dropdown__list'>
          <%= link_to t('label.clear'), playlist_path('current'), method: :delete, remote: true, class: 'dropdown__item', data: { show_spinner: true } %>
        </div>
      </div>
    </div>
    <%= render partial: 'list', locals: { songs: @songs, pagy: @pagy, next_url: "#{@pagy.next ? '/playlist/current?page=2' : ''}" } %>
  </div>
<% end %>
