<% if @songs.blank? %>
  <%= empty_alert_tag %>
<% else %>
  <div class='playlist__item playlist__item--primary display__space-between'>
    <div class='display__align-center'>
      <div class='playlist__item__detail'>
        <div><%= t('text.tracks_count', { count: @playlist.count }) %></div>
      </div>
    </div>
    <div data-controller='dropdown' class='dropdown'>
      <span data-action='click->dropdown#show'><%= icon_tag('more-vertical') %></span>
      <div data-target='dropdown.list' class='hidden dropdown__list'>
        <%= link_to t('label.play_all'), play_playlist_path(params[:id]), method: :post, remote: true, class: 'dropdown__item' %>
        <%= link_to t('label.clear'), playlist_path(params[:id]), method: :delete, remote: true, class: 'dropdown__item' %>
      </div>
    </div>
  </div>
  <%= render partial: 'list', locals: { songs: @songs, pagy: @pagy } %>
<% end %>
