<% if @songs.empty? %>
  <%= empty_alert_tag %>
<% else %>
  <div class='playlist__item playlist__item--primary display__space-between'>
    <div class='display__align-center'>
      <div class='playlist__item__detail'>
        <div><%= t('text.tracks_count', { count: @playlist.count }) %></div>
      </div>
    </div>
    <div data-controller='dropdown' class='dropdown'>
      <span data-action='click->dropdown#show'><%= icon_tag('more-vertical') %></span>
      <ul data-target='dropdown.list' class='hidden dropdown__list'>
        <li class='dropdown__list__item' data-action='click->playlist#play_all'><%= t('label.play_all') %></li>
        <li class='dropdown__list__item'><%= t('label.clear') %></li>
      </ul>
    </div>
  </div>
  <%= render partial: 'list', locals: { songs: @songs, pagy: @pagy } %>
<% end %>
