<% if @playlist.empty? %>
  <%= empty_alert_tag %>
<% else %>
  <div data-controller='playlist' data-playlist-id='<%= params[:id] %>'>
    <div class='heading'>
      <div class='heading__body'>
        <div class='heading__body__text'>
          <span data-target='playlist.count'><%= @playlist.count %></span>
          <span> <%= t('label.tracks') %></span>
        </div>
      </div>
      <div class='heading__footer'>
        <div data-controller='dropdown' class='dropdown'>
          <span data-action='click->dropdown#show'><%= icon_tag('more-vertical') %></span>
          <div data-target='dropdown.list' class='hidden dropdown__list'>
            <% unless params[:id] == 'current' %>
              <a class='dropdown__item' data-action='playlist#playAll'><%= t('label.play_all') %></a>
            <% end %>
            <%= link_to t('label.clear'), playlist_path(params[:id]), method: :delete, remote: true, class: 'dropdown__item', data: { show_loading: true } %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'list', locals: { songs: @songs, pagy: @pagy, next_url: pagy_next_url(@pagy) } %>
  </div>
<% end %>
