<div class='header'>
  <div class='nav'>
    <div class='nav__global display__space-between'>
      <div class='display__align-center'>
        <div class='logo'></div>
        <span class='nav__global__title'>Black Candy</span>
      </div>
      <div data-controller='dropdown' class='dropdown'>
        <div class='display__align-center' data-target='dropdown.trigger' data-action='click->dropdown#showDropdown'>
          <%= avatar(Current.user, class: 'dropdown__trigger') %>
          <span data-controller='icon' data-icon-type='chevron-down' class='icon'></span>
        </div>
        <ul data-target='dropdown.list' class='dropdown__list hidden'>
          <%= link_to users_path, class: 'dropdown__list__item display__align-center' do %>
            <span data-controller='icon' data-icon-type='users' class='icon'></span>
            <span><%= t('label.users') %></span>
          <% end %>
          <%= link_to session_path, class: 'dropdown__list__item display__align-center', method: :delete do %>
            <span data-controller='icon' data-icon-type='power' class='icon'></span>
            <span><%= t('label.logout') %></span>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='nav__category'>
    </div>
  </div>
</div>
