<div>
  <header class='c-nav c-nav--primary o-grid o-grid--align-items-center u-position-sticky-top' cols='7'>
    <div id='turbo-flash' class='c-flash'>
      <%= render 'shared/flash' %>
    </div>
    <%= render 'shared/search_bar' %>
    <%= render 'shared/nav_bar' %>
  </header>
  <main class='u-p-large'>
    <%= yield %>
  </main>
  <footer class='u-display-none u-display-block@extra-small u-position-fixed-bottom'>
    <%= render 'shared/mini_player' %>
  </footer>
</div>
