<header class='c-nav o-grid o-grid--align-items-center u-position-relative' cols='7'>
  <div id='js-flash' class='flash'>
    <%= render 'shared/flash' %>
  </div>
  <%= render 'shared/search_bar' %>
  <%= render 'shared/nav_bar' %>
</header>
<main class='o-flex__item o-flex__item--grow-1 u-h-0 u-overflow-auto u-p-narrow u-pt-large u-position-relative'>
  <%= yield %>
</main>
<footer class='u-display-none u-display-block@extra-small'>
  <%= render 'shared/mini_player' %>
</footer>
