<% content_for :body do %>
  <div class='layout'>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/main' do %>
      <%= yield %>
    <% end %>
  </div>
  <div id='js-overlay' class='overlay overlay--fixed hidden'></div>
  <div id='js-global-loader' class='overlay overlay--fixed overlay--dark hidden' data-controller='loader'>
    <%= loader_tag size: 'large' %>
  </div>
  <%= render 'shared/dialog' %>
<% end %>

<%= render template: 'layouts/base' %>
