<!DOCTYPE html>
<html data-color-scheme='<%= User::DEFAULT_THEME %>'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= t(:app_name) %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <meta name="view-transition" content="same-origin">
    <title><%= content_for?(:title) ? yield(:title) : t(:app_name) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "link_icon.png", type: "image/png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield(:head) %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render "shared/icons" %>
  </body>
</html>
