<!DOCTYPE html>
<html data-color-scheme='<%= Current.user&.theme || cookies[:theme].presence || User::DEFAULT_THEME  %>'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <title>Black Candy</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'link_icon.png', type: 'image/png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='u-overflow-hidden'>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render 'shared/icons' %>
  </body>
</html>
