<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <title>Black Candy</title>
    <%= csrf_meta_tags %>
    <%= favicon_pack_tag 'link_icon.png', type: 'image/png' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller='theme' data-theme-name='<%= Current.user&.theme || cookies[:theme].presence || User::DEFAULT_THEME  %>'>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render 'shared/icons.svg' %>
  </body>
</html>
