<!DOCTYPE html>
<html data-color-scheme='<%= User::DEFAULT_THEME %>'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= content_for?(:title) ? yield(:title) : t(:app_name) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "link_icon.png", type: "image/png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield(:head) %>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render "shared/icons" %>
  </body>
</html>
