<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <title>Black Candy</title>
    <link rel='icon' type='image/png' href="<%= asset_pack_path 'media/images/link_icon.png' %>">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= render 'shared/flash' %>
    <%= render 'shared/icons.svg' %>
  </body>
</html>
